<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="LocalPackages" value="D:/Study_programmist/Курс. Разработка веб-приложения на С#/Total_Attectation/CheckUnputDataLibrary/bin/Release" />
		<add key="PrivateRepo" value="https://github.com/SergeyEdalov/Email_box/tree/main/CheckUnputDataLibrary/bin/Release" />
	</packageSources>
</configuration>
